<span>Please enter your username:</span>
<form action="/form" method="post" accept-charset="utf-8">
	<input type="text" name="username" value="" id="username">
  <i class="icon-search"></i>
  <p><input class="btn btn-primary" type="submit" value="Search &rarr;"></p>
</form>
